{% extends 'learning_logs/base.html' %}
{% load comment_block %}

{% block header %}
<h4>{{ article.topic}}</h4>

{% ifequal 1 user.id%}
<a href="{% url 'learning_logs:edit_entry' entry.id%}">修改分类名</a>
{% endifequal %}
{% endblock header %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <small>
      分类: {{entry.text}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  发布时间：{{ article.date_added|date:'M d, Y H:i' }}
    </small>
  </div>
  <div class="panel-body">
    {{ article }}
  </div>
</div> <!-- panel -->

{% ifequal 1 user.id%}
<div style="text-align: right;">
<a class="btn btn-primary btn-large" href="{% url 'learning_logs:edit_article' article.id %}" > 编辑文章</a></div>
{% endifequal %}


{% comment_block article.id request.user%}

{% endblock content %}