{% extends "learning_logs/base.html" %}

{% block header %}
  <h1>{{entry.text}}</h1>
{% endblock %}

{% block content %}
  <ul>
    {% for article in articles %}
      <li>
        <h3>
          <a href="{% url 'learning_logs:article' article.id %}">{{ article.topic }}</a>
        </h3>
      </li>
    {% empty %}
      <li>No articles have been added yet.</li>
    {% endfor %}
  </ul>
  {% ifequal 1 user.id%}
  <h5><a href="{% url 'learning_logs:edit_entry' entry.id %}">修改分类</h5>
  {% endifequal %}

{% endblock content %}